

 <div class="container">
        <div class="ui stackable grid sem">
            <div class="four wide column"></div>

            <div class="eight wide column " style="margin-top:60px; min-height:800px;" id="home" >
                <div class="ui text container">
                    <div>
                        <div>
                            <div class="ui header">web前端开发简介</div>
                            <div class="ui divider"></div>
                            <p>Web前端开发技术包括三个要素：HTML、CSS和JavaScript，随着RIA的流行和普及，Flash/Flex、Silverlight、XML和服务器端语言也是前端开发工程师应该掌握的。
                            随着时代的发展，前端开发技术的三要素也演变成为现今的：html5，css3，jquery。
                            当然目前流行的前端框架非常的多，随着商业网站的发展，MVC（module view controller）框架的发展
                            也日益兴旺。目前比较流行的前端MVC框架有<a href="www.angularjs.org">angularJS</a>
                            、<a href="http://www.css88.com/doc/backbone/">backbone</a>等等，
                            而我个人比较喜欢使用angularJS。学过的人都知道，熟悉一种，其他的原理很相似。
                            </p>
                        </div><br/>
                        <div>
                            <div class="ui header"><a href="http://www.nodeJS.org">关于nodeJS</a></div>
                            <p>作为前端开发者，学习一定的后端知识是必要的。学习nodejs是前端开发者很好的选择。因为
                            你无需再去多学一门语言，有javascript基础就OK。在nodejs 服务器中，运行的是V8 javascript引擎所解析并执行的脚本语言。V8 javascript引擎
                            是由Google公司使用C++语言开发的一种高性能的javaScript引擎。nodejs是非阻塞型Ｉ／Ｏ及事件机制
                            极大的提高了数据存储的效率。通过测试结果可以看到，nodeJS的性能远远超过PHP,Pyton,Ruby.
                            本博客使用的是NodeJS的express框架。
                            </p>
                        </div>
                        <div>
                            <br/>
                            <div class="ui header"><a href="http://www.angularjs.org">关于angularJS</a></div>
                            <p>AngularJS吸收了服务器端开发技术的一些最好的方面，并使用它们来对浏览器中的
                            HTML进行增强，为更加简单的构建富应用程序奠定了基础。angularJS应用程序围绕着MVC
                            模式构建</p>
                        </div><br/>
                        <div>
                            <div class="ui header"><a href="htt://www.semantic-ui.com"> Semantic-UI</a></div>
                            <p>
                               semantic-UI是我强力推荐的前端UI框架，基于Jquery开发，
                                它不仅拥有bootstrap的响应式布局，还拥有比
                                bootstrap更为丰富的样式集，好好学习和应用这个框架，功能很强大。
                            </p>
                           
                        </div><br/>
						<div>
							<div class="ui header">这个博客</div>
							<p>非常的乐意与大家分享在开发上的一些技术问题与经验，也非常感谢您的关注。
							另外，对于技术开发人员来说怎么能少了对开源社区的关注呢。这里推荐正在学习开发的
							朋友们关注<a href="http://www.github.com">github</a>，
							<a href="http://www.http://stackoverflow.com/">stackoverflow</a>,
							国内的呢就关注<a href="http://www.oschina.com">开源中国</a>吧。
							</p>
						</div>
                        
                        
                    </div>
                    
                    </div>
                </div>
		
             <div class="four wide column" >
                <div id="right">
                    <div class="ui segment">
                        <div class="ui header">有关于我</div>
                        <div class="ui divider"></div>
                        <p> 姓名：liuyaojuan </p>
                        <p>web前端开发工程师</p>
                        <p>专注于nodeJS和angularJS的学习与开发</p>
                        <p>学习开发时间：一年半</p>
                    </div>
               

            </div>
		</div>
         
           
          

        </div>
		<script>
$(document).ready(function(){
  $('#right').visibility({
                type: 'fixed',
                
            });
})
</script>
