 <!--footer start-->
    <div id="footer" style="position:relative;">
      <div class="ui container">
        <div class="ui ui four column grid">
           <div class=" three wide column footer" >
               <h3>links</h3>
               <div class="ui list">
                   <a class="item" href="http://www.nodejs.org">nodeJS</a>
                   <a class="item" href="http://www.angularjs.org">AngularJS</a>
                   <a class="item" href="http://www.npmjs.com">npm</a>

               </div>
               
           </div>
          
            <div class=" three wide column footer">
                
                <div class="ui list">
                    <a class="item" href="http://www.jquery.com">Jquery</a>
                    <a class="item" href="http://v3.bootcss.com/getting-started/#download-bower">Bootstrap</a>
                    <a class="item" href="http://www.semantic-ui.com">SemanticUI</a>
                    <a class="item" href="http://www.w3school.com.cn">W3school</a>
                </div> 
              <div class="ui vertical divider" style="margin-left:50px;">
                <i class="fa fa-link fa-lg"></i>
              </div>
            </div>
          
            <div class="column footer">
                <div class="three wide column">
                    <div>
                      <a href="mailto:fucuanlyj@163.com">联系我：fucuanlyj@163.com</a>
                    </div>
                  <p style="margin-top:30px;">liuyaojuan 对此网站拥有最终解释权</p>
                </div>
            </div>

           

        </div>

    </div>
    </div>
    <!--footer end-->


       
  
   

</body>
</html>