<div class="container">
    <div class="ui stackable grid sem">
        <div class="four wide column"></div>

        <div class="eight wide column">
            <div class="ui segments" style="top:20px; margin-bottom:20px;">
                <div class="ui segment">
                    <h4 class="ui header">Writing</h4>
                </div>

                <div class="ui secondary stackable segment">
                    <form id="signupForm" class="ui grid form" style="padding:10px" novalidate="novalidate">
                        <div class="row field">
                            <label class="six wide column" for="title">Title</label>
                            <div class="eight wide column">
                                <div class="ui input">
                                    <input id="title" name="title" type="text"/>
                                </div>
                            </div>
                        </div>

                        <div class="row field">
                            <label class="six wide column" for="tags">Tags</label>
                            <div class="eight wide column">
                                <div class="ui input">
                                    <input id="tags" name="tags" type="text"  />
                                </div>
                            </div>
                        </div>

                        <div class="row field">
                            <textarea cols="100" rows="200"></textarea>
                        </div>

                       <div class="row">
                            <label class="six wide column"></label>
                            <div class="eight wide column">
                                <button type="submit" class="ui primary button">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="four wide column"></div>
    </div>
</div>
