<%-include header%>
 <div class="container" style="margin-top:60px;">



        <div class="ui stackable grid sem">
            <div class="four wide column"></div>

            <div class="eight wide column">
                <div class="ui segments" style="top:20px; margin-bottom:20px;">
                    <div class="ui segment">
                        <h4 class="ui header">Register</h4>
						<h5 style="color:blue">All of the items are required!</h5>
						<%if(success){%>
								<div><%=success%></div>
								 <%}%>
								 <%if(error){%>
								<div style="color:red;"><%=error%></div>
								 <%}%>
                    </div>

                    <div class="ui secondary stackable segment">
                        <form id="signupForm" class="ui grid form" method="post" "
						 style="padding:10px" novalidate="novalidate">
                            <div class="row field">
                                <label class="six wide column" for="firstname">First name</label>
                                <div class="eight wide column">
                                    <div class="ui input">
                                        <input id="firstname" name="firstname" type="text" placeholder="First name" required />
                                    </div>
                                </div>
                            </div>

                            <div class="row field">
                                <label class="six wide column" for="lastname">Lastname</label>
                                <div class="eight wide column">
                                    <div class="ui input">
                                        <input id="lastname" name="lastname" type="text" placeholder="Lastname" required />
                                    </div>
                                </div>
                            </div>

                            <div class="row field">
                                <label class="six wide column" for="username">Username</label>
                                <div class="eight wide column">
                                    <div class="ui input">
                                        <input id="username" name="username" type="text" placeholder="Username" required />
                                    </div>
                                </div>
                            </div>

                            <div class="row field">
                                <label class="six wide column" for="emial">Email</label>
                                <div class="eight wide column">
                                    <div class="ui input">
                                        <input id="email" name="email" type="text" placeholder="Email" required />
                                    </div>
                                </div>
                            </div>

                            <div class="row field">
                                <label class="six wide column" for="password">Password</label>
                                <div class="eight wide column">
                                    <div class="ui input">
                                        <input id="password" name="password" type="password" placeholder="Password" required/>
                                    </div>
                                </div>
                            </div>

                            <div class="row field">
                                <label class="six wide column" for="confirm_password">Confirm passsword</label>
                                <div class="eight wide column">
                                    <div class="ui input">
                                        <input id="confirm_password" name="confirm_password" type="password" placeholder="Confirm password" required />
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <label class="six wide column"></label>
                                <div class="eight wide column">
                                    <button type="submit" class="ui primary button">Sign up</button>
                                </div>
                            </div>
							
                        </form>
                    </div>
                </div>

            </div>
            <div class="four wide column"></div>
        </div>
    </div>
	

   
